name: Build and Test (CI)

on:
  pull_request:
    branches: ["master"]
  workflow_dispatch:
jobs:
  build:
    name: CI Build

    strategy:
      matrix:
        configuration: [Release]

    runs-on: windows-latest

    env:
      Solution_Name: ServiceFabric.Mocks.sln
      Test_Project_File: \test\ServiceFabric.Mocks.NetCoreTests\ServiceFabric.Mocks.NetCoreTests.csproj
      Test_Project_Path: \test\ServiceFabric.Mocks.NetCoreTests
      Wap_Project_Path: \src\ServiceFabric.Mocks\ServiceFabric.Mocks.csproj

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Install the .NET Core workload
      - name: Install .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

      # Create SNK
      - name: Create SNK
        shell: pwsh
        env:
          SNK_PASSWORD: ${{ secrets.PFX_KEY }}
        run: |
          .\ExtractPrivateKey.ps1 "$env:SNK_PASSWORD"

      # Run dotnet build
      - name: Run build
        run: dotnet build --configuration RELEASE

      # Execute all unit tests in the solution
      - name: Execute unit tests
        run: dotnet test --logger "trx;LogFileName=results.trx" ${Test_Project_File}

      - name: Publish test results
        uses: zyborg/dotnet-tests-report@v1
        with:
          project_path: ${Test_Project_Path}
          report_name: tests
          report_title: ServiceFabric.Mocks Unit tests
          github_token: ${{ secrets.GITHUB_TOKEN }}
